<html>
Enetr question number<br>
<form action="/question/" method='get'>
<!--please don't edit script-->
<table>
{% for a, b in c %}
{% if a == 11 or a == 21 or a == 31 or a == 41 %}
    <tr>
    {% if b == 1 %}
       <td>{{a}}<br><input type=radio name=qno value={{a}}  >
    {% else %}
       <td>{{a}}<br><input type=radio name=qno value={{a}} disabled>
    {% endif %}
{% else %}
    {% if b == 1 %}
<td>{{a}}<br><input type=radio name=qno value={{a}} checked>
   {% else %}
<td>{{a}}<br><input type=radio name=qno value={{a}} disabled>
   {% endif %}
{% endif %}
{% endfor %}
</table>
<input type=submit value="go">
</form>
<!-- script -->
<a href='/profile/'>Your Profile</a>
</html>
