<html>
<head>
    <title>Log in</title>
</head>
<body>
    <h1>Log IN Form</h1>
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <input type="submit" value="Submit"> <a href=/register/>Register Now</a>
    </form>
</body>
</html>
