<html>
<head>
    <title>Enter Data</title>
</head>
<body>
    {% if y.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
     {% endif %}
	{% if err %}
	<h1>
	  {{err}}
	  <a href='\profile\'>Profile</a>
	</h1>
	{% else %}
	<h1>Fill The Answer Below</h1>
	<h1>Question No.:{{qno}}<br>Question:{{a}}
	<br>
	<form action="" method="post">
	  {% csrf_token %}
	  <table>
          {{ w.as_table }}
	  </table>
	  <input type="submit" value="Submit">
	</form>
	</h1>
	{% endif %}
</body>
</html>
