<html>
<head>
    <title>Registeration Page</title>
</head>
<body>
    <h1>Fill Below From For Registration To Event</h1>

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
	{% if err %}
	<h2><b><center>{{err}}</h2></b></center>
	{% endif %}
    <form action="" method="post">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <input type="submit" value="Submit">
    </form>
</body>
</html>
