<html>
<head>
    <title>Enter Data</title>
</head>
<body>
    <h1>Fill The Answer Below</h1>
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
      {% csrf_token %}
      {{ question }}
      <table>
        {{ form.as_table }}
      </table>
      <input type="submit" value="Submit">
    </form>
</body>
</html>
