<html>
<body bgcolor="green">
<form action="" method=post>
{% csrf_token %} 
<input type="hidden" name="switch" value="*DSP#">
<br><br><center>
<input type=submit value="Sample Toggle Button">
</center>
</form>
</body>
</html>
