<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <link rel = "icon" type="image/png" href="http://www.asetalias.in/media/images/alias_head.png">
    <title>
            GeekBattle-v2 Online Programming Contest, AYF 2013
     
    </title>
    
<link rel="stylesheet" type="text/css" href= "/PixelGreen.css">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <div id="header-content">    
          <div id="sha">
          </div>
          <h1 id="logo">Amity Youth Festival 2013</span></a></h1>
<h2 id="slogan"><a href="">GeekBattle : Online Programming Contest</a></h2>
<a href="http://www.asetalias.in">Our LUG Website</a>
<IMG SRC="/images/alias_head.png" ALT="Home"></a>      

</div>
</div>

<center>

  
  <style type="text/css">
    th{ width:200px; }
  </style>
  <h3>Submit problem here.</h3>
  <h4>C and C++ programs should have .c and .cpp extensions respectively.</h4>
  <h4>Java programs should be enclosed within a Main class.</h4>
  <h4>Python programs shouldn't use any extra packages other than those which are included with installation package</h4>
  <div id="submission_form">
    <form action="/submitted/" method="POST" enctype="multipart/form-data">{% csrf_token %}
 
      <table border ="1">
        <tr><th><label for="id_lang">Lang:</label></th><td><select name="lang" id="id_lang">
	      <option value="C">C</option>
	      <option value="C++">C++</option>
	      <option value="Java">Java</option>
	      <option value="Python">Python</option>
	</select></td></tr>
	<tr><th><label for="id_problem">Problem:</label></th><td><select name="problem" id="id_problem">
	      <option value="Sum">Sum</option>
	</select></td></tr>
	<tr><th><label for="id_program">Program:</label></th><td><input type="file" name="program" id="id_program" /></td></tr>
      </table>
      <input name="uploaded" type="submit" value="Submit" />
    </form>
  </div>
  
  
</center>
</div>
</body>
</html>
