/********************************************
					     AUTHOR:  Erwin Aligam 
					     WEBSITE:   http://www.styleshout.com/
					     TEMPLATE NAME: PixelGreen
					     TEMPLATE CODE: S-0010
   VERSION:          1.2   
   LAST MODIFIED:    June-05-2007       
 *******************************************/ 
/* top elements */
* { padding: 0; margin: 0; }

body {
    margin: 0; padding: 0;
    font: normal 73%/1.5em 'Trebuchet MS', Tahoma, sans-serif;
    color: #555;
    background: #FFF url('../images/bg.jpg') repeat-x;
    text-align: center;
}

/* links */
a { background: inherit; color: #72A545; text-decoration: none; }
a:hover { background: inherit; /*color: #006699;*/ text-decoration: underline; }

/* headers */
h1, h2, h3 { font: bold 1em 'Trebuchet MS', Tahoma, Sans-serif; }
h1 { font-size: 1.4em; color: #65944A; }
h2 { font-size: 1.2em; text-transform: uppercase; }
h3 { font-size: 1.2em; }

p, h1, h2, h3 {
    margin: 10px 15px;
}
ul, ol {
    margin: 10px 30px;
    padding: 0 15px;
}

/* images */
img {
    border: 1px solid #DADADA;
    padding: 5px;
    background: #FAFAFA;
}
img.float-right {
  margin: 5px 0px 5px 15px;  
}
img.float-left {
  margin: 5px 15px 5px 0px;
}

code {
  margin: 5px 0;
  padding: 10px;
  text-align: left;
  display: block;
  overflow: auto;  
  font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace;
  white-space: pre;
  background: #FAFAFA;
  border: 1px solid #f2f2f2;  
  border-left: 3px solid #72A545;
}
acronym {
  cursor: help;
  border-bottom: 1px solid #777;
}
blockquote {
    margin: 15px; padding: 0 0 0 20px;  
    background-color: #FAFAFA; 
    background-position: 8px 10px;
    border: 1px solid #f2f2f2; 
    border-left: 3px solid #72A545;  
    font: bold 1.2em/1.5em "Trebuchet MS", Tahoma, sans-serif; 
    color: #666666;
}


/* start - table */
table {
    border-collapse: collapse;
    margin: 10px 15px;
}
th strong {
    color: #fff;
}
th {
    background: #72a545;
    height: 30px;
    padding-left: 11px;
    padding-right: 11px;
    color: #fff;
    text-align: center;
    border-left: 1px solid transparent;
    border-bottom: solid 2px #FFF;
    width: 80%;
}
tr {
    height: 30px;
}
td {
    padding-left: 11px;
    padding-right: 11px;
    width:100px;
    text-align: center;
}
td.first,th.first {
    border-left: 0px;
}
tr.row-a {
    background: #F8F8F8;
}
tr.row-b {
    background: #EFEFEF;
}
/* end - table */

label {
    display:block;
    font-weight:bold;
    margin:5px 0;
}
input {
    padding: 4px;
    border:1px solid #eee;
    font: normal 1em "Trebuchet MS", Tahoma, sans-serif;
    color:#777;
    font-size:12px;
}
textarea {
    width:400px;
    padding:2px;
    font: normal 1em "Trebuchet MS", Tahoma, sans-serif;
    border:1px solid #eee;
    height:100px;
    display:block;
    color:#777;
}
input.button { 
    margin: 10px; 
    font: bold 1em Arial, Sans-serif; 
    background: #FFF url(../images/gradientbg.jpg) repeat-x; 
    padding: 2px 3px; 
    color: #333;
    border: 1px solid #DADADA;
    width: 6%
}
form span {
    color:#74A846;
    padding: 0 3px;
    font-weight: bold;
}

/* search form */
.searchform {
    background-color: transparent;
    border: none;margin: 0; padding: 0;
}
.searchform p { margin: 10px; padding: 0; }
.searchform input.textbox { 
    width: 130px;
    color: #333; 
    height: 20px;
    padding: 2px;
    vertical-align: top;
}
.searchform input.button { 
    font: bold 12px Arial, Sans-serif; 
    color: #333;
    width: 60px;
    height: 26px;
    border: 1px solid #DADADA;
    padding: 3px 5px;
    vertical-align: top;
}

/***********************
			  LAYOUT
************************/

#header-content, #content, #footer-content {
    width: 80%;
}

/* header */
#header {
    height: 200px;
    text-align: center;
}
#menu {
    position: inherit;
    text-align: center; 
    top: 159px;
    left:5%;
}
#header-content {
    margin: 0 auto; padding: 0;
    position: relative;
}
#header-content h1#logo {
    position: absolute;
    font: bold 34px 'Trebuchet MS', sans-serif;
    letter-spacing: -2px; 
    color: #FFF;
    margin: 0; padding: 0;
    top: 10px; left: 100px;
}
#header-content #sha {
    position: absolute;
    height: 99px;
    width: 194px;
    background: url('../images/sha.png') no-repeat;
}
#header-content h1#logo a {
    text-decoration: none;
    color: #FFF;
}
#header-content #slogan {
    position: absolute;
    font: bold 24px 'Trebuchet MS', sans-serif;
    text-transform: none;
    color: #FFF;
    margin: 0; padding: 0;
    top: 50px; left: 100px;
}

#links{
    position:center;
    font: bold 24px 'Trebuchet MS', sans-serif;
    text-transform: none;
    color: #FFF;
    margin: 0; padding: 0;
}
#header-content #slogan a {
    text-decoration: none;
    color: #FFF;
}
#header-content #spons {
    position: absolute;
    color: #CCC;
    top: 10px;
    right: 20px;
    width: 200px;
    height: 100px;
}
#header-content #spons-img {
    margin: 10px;
}

/* header menu */
#header-content ul {
    position: absolute;
    left: 10px;
    top: 95px;
    font: bolder 1.3em 'Trebuchet MS', sans-serif;
    color: #FFF;
    list-style: none;
    margin: 0; padding: 0;
}
#header-content li {
    display: inline;
}
#header-content li a {
    float: left;
    display: block;
    padding: 3px 12px;
    color: #FFF;
    background-color: #333;
    text-decoration: none;
    border-right: 1px solid #272727;
    border-bottom: 1px solid #272727;
    font-size:150%;
}
#header-content li a:hover {
    background: #65944A;
    color: #FFF;
}
#header-content li a#current  {
    background: #65944A;
    color: #FFF;
}

/* content */
#content-wrap {
    clear: both;
    float: left;
    width: 100%;
}
#content {
    text-align: left;
    padding: 0;
    margin: 0 auto;
}

/* sidebar */
#sidebar {
    float: right;
    width: 30%;
    margin: 0 0 10px 0; padding: 0;
}
#sidebar h1 {
    padding: 10px 0px 5px 10px;
    margin: 0;
    font: bold 1.3em 'Trebuchet MS', Tahoma, Sans-serif;
}
.sidebox {
    background: #F5F5F5;
    border: 1px solid #EFEDED;
    margin-bottom: 10px;
}

/* sidebar menu */
#sidebar ul.sidemenu {
    list-style:none;
    margin: 10px 0 15px 0;
    padding: 0;
    background: #F2F2F2;
}
#sidebar ul.sidemenu li {
    padding: 0px 10px;
}
#sidebar ul.sidemenu a {
    display:block;
    font-weight:normal;
    color: #333;
    height: 1.5em;
    padding:.3em 0 .3em 15px;
    line-height: 1.5em;
    border-bottom: 1px dashed #D4D4D4;
    text-decoration:none;
}
#sidebar ul.sidemenu a.top{
    border-top: 1px dashed #D4D4D4;
}
#sidebar ul.sidemenu a:hover {
    padding: .3em 0 .3em 10px;
    border-left: 5px solid  #65944A;
    color: #65944A;
}

/* main */
#main {
    float: left;
    width: 68%;
    margin: 0 0 10px 0; padding: 0;
}
#main h1 {
    padding: 10px 0px 0px 5px;
    margin: 0 0 0 10px;
    border-bottom: 1px solid #f2f2f2; 
    font: normal 1.5em 'Trebuchet MS', Tahoma, Sans-serif;
}
#main ul li {
    list-style-image: url('../images/bullet.gif');
}

.post {
    margin: 0; padding: 0;
    background: #FFF url('../images/gradientbg.jpg') repeat-x;
    border: 1px solid #EFEDED;
}
.post .post-footer {
    background-color: #FAFAFA;
    border: 1px solid #f2f2f2;
    padding: 5px; margin-top: 20px;
    font-size: 95%;
}
.post .post-footer .date {
    background: url('../images/clock.gif') no-repeat 0 center;
    padding-left: 20px; margin: 0 10px 0 5px;
}
.post .post-footer .comments {
    background: url('../images/comment.gif') no-repeat 0 center;
    padding-left: 20px; margin: 0 10px 0 5px;
}
.post .post-footer .readmore {
    background: url('../images/page.gif') no-repeat 0 center;
    padding-left: 20px; margin: 0 10px 0 5px;
}

/* footer */
#footer {
    clear: both;
    margin: 0; padding: 0;
    font: normal .95em/1.6em 'Trebuchet MS', Tahoma, Arial, sans-serif;
    text-align: left;
}

#footer h1, #footer p {margin-left: 0; }

#footer-content {
    border-top: 1px solid #EAEAEA;
    margin: 0 auto;
    padding-left: 15px;
}
#footer-content a {
    text-decoration: none;
    color: #777;
}
#footer-content a:hover {
    text-decoration: underline;
    color: #333;
}
#footer-content ul {
    list-style: none;
    margin: 0; padding: 0;
}
#footer-content .col {
    width: 32%;
    padding: 0 5px 30px 0;
}
#footer-content .col2 {
    width: 33%;
    padding: 0 0 30px 0;
}

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right {text-align: right; }

/* additional classes */
.clear { clear: both; }
.gray  { color: #BFBFBF; }
#helptext{
    background: red;
}

.helptext{
    color: grey;
    font-size:12px;
    font-style:italic;
    font-family:calibri;
}


table.register{
    border-style: solid;
    padding:2px;
    border-width: 2px;
    background-color:#FFFFFF;
    width: 40%;
}
table.register th {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    width: 30%;
}

table.register tr {
    border-style: solid;
    border-width: 0px;
    padding: 5px;
    width: 30%;
}

table.register td {
    padding-top: 5px;
}

select{
    padding:3px;
    font-family:Tahoma;
    font-size:12px;
}
option{
    margin:2px;
}

table.teams{
    border-style: solid;
    border-width: 1px;
    background-color:#FFFFFF;
    width: 40%;
}
table.teams th {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    width: 30%;
}

table.teams tr {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    width: 30%;
}

table.login{
    border-style: solid;
    padding:2px;
    border-width: 2px;
    background-color:#FFFFFF;
    width: 40%;
}
table.login th {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    width: 30%;
}

table.login tr {
    border-style: double;
    border-width: 0px;
    padding: 5px;
    width: 30%;
}
table.login td{
    padding-top:5px;
}

#rules{
text-align: left;
width: 50%;
float: left;
}

